<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>displayName</key>
		<string>Transportation</string>
		<key>icon</key>
		<string>category-transportation</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lodging</string>
		<key>icon</key>
		<string>category-lodging</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Food &amp; Drink</string>
		<key>icon</key>
		<string>category-fooddrink</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Shopping</string>
		<key>icon</key>
		<string>category-shopping</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Attractions</string>
		<key>icon</key>
		<string>category-attractions</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Other</string>
		<key>icon</key>
		<string>category-other</string>
	</dict>
</array>
</plist>
